.body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    background-color: white;
    letter-spacing: 0.02em;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    
}

h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

.container {
    width: 1158px;    
    margin: 0 auto;
    padding: 0 15px;
}

header {    
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

header .container { 
    padding: 0 15px;
    margin: 0 auto;    
    display: flex;
    width: 1158px;
    border-bottom: 1px solid #E7E9FC;    
    align-items: center;    
}

svg {
    display: block;
}


.logo {
    color: #4D5AE5;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    padding-top: 25.5px;
    padding-bottom: 24.5px;
    margin-right: 76px;

    
}

.logo-part {
    color: #2E2F42;
}

.nav-menu {
    display: flex;    
    align-items: center;
    
}

.list-menu {
    display: flex;
    gap: 40px;            
}

.link {
    color: #2E2F42;
    font-weight: 500;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

.link:hover,
.link:focus {
    color: #404BBF;
}

.link-studio {
    color: #404bbf;
}



.link-studio::after{
    content: "";
    display: block;
    width: 100%;
    background-color: #404bbf;
    height: 4px;
    border-radius: 2px;  
    position: absolute;
    bottom: -1px;
    left: 0;        
}



.contacts {
    font-style: normal;
    margin-left: auto;   
}
.contacts-list {
    display: flex;
    gap: 40px;
    align-items: flex-end;        
}
.contacts-link {
    color: #434455;
    letter-spacing: 0.02em; 
    padding-top: 24px;
    padding-bottom: 23px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
    color: #404BBF;
}

.section {
    padding: 120px 0;
}

.hero-section  {
    max-width: 1440px;
    background-color: #2E2F42;
    padding-top: 188px;
    padding-bottom: 188px;
    margin-left: auto;
    margin-right: auto;     
    background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/people-office-bg-img.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    
}

.hero-section .container{
    margin: 0 auto;    
}

.title-hero {
    font-size: 56px;
    font-weight: bold;
    line-height: 60px;
    color: white;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto 48px;       
        
}

.button-hero {
    background-color: #4D5AE5;
    color: white;
    font-weight: 500;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    letter-spacing: 0.04em;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    display: block;
    min-width: 169px;       
    border-radius: 4px;
    border: 0;
    padding: 16px 32px;    
    margin-left: auto;
    margin-right: auto;   
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);       
}

.button-hero:hover,
.button-hero:focus {
    background-color: #404BBF;
}



.visually-hidden  {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.list-values {
    display: flex;
    gap: 24px;
}

.item-values {
    width: calc((100% - 72px)/4);
}

.icon-box {
    background-color: #F4F4FD;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    height: 112px;    
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}  

.icon-value {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
    

.value-title-name {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: left;
}

.text-section-values {
    color: #434455;
    letter-spacing: 0.02em;
}

.team-section {
    background-color: #F4F4FD;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);;
}

.section-title {
    font-size: 36px;
    font-weight: 700;
    color: #2E2F42;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.list-team {
    display: flex;
    gap: 24px;    
}

.cards {
    background-color: white;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
    width: calc((100% - 72px)/4);
}

.card-image {    
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);;
}

.card-text {
    padding: 32px 0;
}

.title-name {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    display: block;    
    text-align: center;
}

.text-section-team {
    text-align: center;
    margin-bottom: 8px;
}

.list-links {
    display: flex;
    gap: 24px;
    justify-content: center;    
}


.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link {
    fill: #f4f4fd;
}

.social-link:hover, 
.social-link:focus {
    background-color: #404bbf;
}


.list-our-portfolio {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    
}


.cards-portofolio {
    background-color: white;     
    width: calc((100% - 48px)/3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.text-decoration {
    border-bottom: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC; 
    padding: 32px 16px;   
}

.card-image-portfolio {
   
}
    
.text-section-portfolio {
    text-align: left;

}
.title-name-portfolio {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.card-box {
    height: 300px;
    width: 360px;
    overflow: hidden;
    position: relative;
}

.overlay {    
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;
    padding: 40px 32px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
    box-shadow: none;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards-portofolio:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
            0 1px 1px 0 rgba(46, 47, 66, 0.16),
            0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.cards-portofolio:hover .overlay {
    transform: translateY(0%);
}



.footer {
    background-color: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
    
}

footer .container {
    display: flex;
    justify-content: left; 
   align-items: baseline; 
}

.logo-box {
    margin-right: 120px;
    
}

.logo-box .logo {
margin-bottom: 16px;
display: inline-block;
padding: 1.5px 0;
}

.footer-advice {
    color: #F4F4FD;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.logo-part-footer {
    color: #F4F4FD;
}

.footer-social-box {
   margin-right: 80px;
}

.footer-sociale-titile {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;

}

.footer-list-links {
    display: flex;
    gap: 16px;
    justify-content: center;
}


.footer-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31d0aa;
}

.footer-icon-link {
    fill: #f4f4fd;
}


.subscrible-container {
    width: 453px;
    height: 80px;
}

.subscrible-title { 
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: block;
    margin-bottom: 16px;
}

.subscrible-input-container {
    display: flex;
}

.subscrible-email {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    background-color: transparent;
    margin-right: 24px;
    color: #fff;
    
}

.subscrible-email::placeholder {
    color: #fff;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
}

.subscrible-btn {
    border: 0;
    border-radius: 4px;
    padding: 8px 24px;
    width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em; 
    display: flex;
    gap: 16px; 
    outline: transparent;
    transition: cursor 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.subscrible-btn:hover,
.subscrible-btn:focus {
    cursor: pointer;
}


.subscrible-icon { 
    display: inline-block;
    height: 24px;
    width: 24px;
    fill: #fff; 
}

.modal-form-iconn {
    fill: #2e2f42;
    background-color: #1a1a1c;

}


/* Модальне вікно */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: opacity, visibility, pointer-events;
}

.modal-overlay.is-open {
    opacity: 1;
    pointer-events: all;
    visibility: visible;    
}

.modal {
    width: 408px;
    min-height: 584px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 24px 24px;
    
}

.close-btn {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color:  #E7E9FC;
    position: absolute;
    right: 24px;
    top: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    line-height: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
    background-color: #404bbf;    
}

.close-btn:hover .close-btn-icon,
.close-btn:focus .close-btn-icon {
    fill: #fff;
}


.close-btn-icon {
    fill: #2E2F42;  
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-title {       
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
    
}
.modal-form {}

.modal-form-container-block {}

.modal-form-label {    
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;

}

.modal-form-input-container {
    position: relative;
    margin-bottom: 8px;
}

.modal-form-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px; 
    padding: 0;
    padding-left: 38px;
    outline: transparent;  
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      
}

.modal-form-input:focus {
    border: 1px solid #4d5ae5;
}

.modal-form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms ease-in-out;
}

.modal-form-input:focus + .modal-form-icon {
    fill: #4d5ae5;
}


.text-area-container {}

.modal-form-label {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.modal-form-label::placeholder {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.user-comment {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 360px;
    height: 120px;
    padding: 8px 16px;
    outline:  transparent;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    resize: none;
}

.user-comment:focus {
    border: 1px solid #4d5ae5;
}

.modal-form-container-chackbox {
    margin-bottom: 24px;
}

.checkbox {}

.modal-form-label-custom {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    cursor: pointer;
}

.custom-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 8px;
    background-color: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-icon {
    fill: #fff;
}

.checkbox:checked + .modal-form-label-custom .custom-checkbox {
    background-color: #404BBF;
}

.link-text {
    text-decoration: underline;
}

.send-btn {
    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    background-color: #4d5ae5;
    border: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    display: block;
    margin: 0 auto;
}
/* Модальне вікно */


